$body: rgb(7, 1, 1);
$header-bg: rgb(238, 240, 245);
$header-text: rgb(0, 138, 138);
$navbar: rgb(156, 156, 156);
$nav-color: rgb(43, 23, 23);
$hover: rgb(216, 25, 25);
$gallery-bg: rgb(219, 191, 216);