@import '_colors.scss';


*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    //  dodać font-family: ;
    background-color: $body;
    // bgc do zmiany
}

//  HEADER

header {
    height: 150px;
    background-color: $header-bg;
    // padding-top: 30px;
    // padding-bottom: 20px;

    .hero-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        color: $header-text;
        text-align: center;
    }

    h1 {
        font-size: 30px;
        text-transform: uppercase;
        margin-bottom: 0px;
    }

    p {
        font-size: 20px;
        margin-bottom: 0px;
    }
}

// NAVIGATION

nav {
    position: sticky;
    top: 0;
    height: 50px;
    background-color: $navbar;
    text-transform: uppercase;
    // text-align: center;

    .container {
        height: 100%;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            margin: 0 auto;

            a {
                text-decoration: none;
                color: $nav-color;
                // color do zmiany
                padding: 10px 15px;

            }
        }
    }

    a:hover {
        color: $hover;
        // color do zmiany
    }

}

// GALLERY
.gallery {
    background-color: $gallery-bg;
    padding: 80px 0;

    img {
        width: 100%;
        background-color: #fff;
        padding: 15px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
        cursor: pointer;
    }

}
#gallery-modal .modal-img {
    width: 100%;
}


@media (min-width: 375px) {
    header {
        .hero-text {
            h1 {
                font-size: 34px;
            }

            p {
                font-size: 22px;
            }
        }
    }
}

@media (min-width: 768px) {
    header {
        .hero-text {
            h1 {
                font-size: 40px;
            }

            p {
                font-size: 28px;
            }
        }
    }
}